<script lang="ts" setup>
import { ref } from "vue";
import { useProductStore } from "@/stores/products";
import CardCom from "@/components/CardCom.vue";
const productSore = useProductStore();
const sum = ref(0);
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="7">
        <v-container class="" style="height: 80vh; overflow-y: auto">
          <v-row>
            <v-col
              cols="4"
              v-for="(item, index) in productSore.products"
              :key="index"
            >
              <CardCom
                :id="item.id"
                :name="item.name"
                :price="item.price"
              ></CardCom>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col>
        <v-container style="height: 80vh; overflow-y: auto"
          ><v-table>
            <thead>
              <tr>
                <th class="text-left">id</th>
                <th class="text-left">name</th>
                <th class="text-left">price</th>
              </tr>
            </thead>
            <tbody v-if="productSore.productPurchased.length != 0">
              <tr v-for="item in productSore.productPurchased" :key="item.id">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
            </tbody>
          </v-table>
          <p
            v-if="productSore.productPurchased.length == 0"
            class="mt-5"
            style="text-align: center"
          ></p>
        </v-container>
        <p style="font-size: 25pt" class="mt-10">
          Sum: {{ productSore.sumPrice }}
        </p>
      </v-col>
    </v-row>
  </v-container>
</template>
