<script lang="ts" setup>
import { ref, watch } from "vue";
import type { VForm } from "vuetify/components";
const text = ref("");
const number = ref(0);
const valuenum = ref(true);
const form = ref<InstanceType<typeof VForm> | null>(null);
async () => {
  const { valid } = await form.value!.validate();
  if (!valid) {
    number.value = 0;
  }
};
watch(
  () => text.value,
  () => {
    if (text.value == "") {
      number.value = 0;
    } else {
      number.value = parseInt(text.value);
    }
  }
);

</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-text-field label="Please input Number" v-model="text" :rules="[(v) => !!v || 'Number is not empty!!']"
          required> </v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="1" v-for="item in number" :key="item">{{ item }}
      </v-col>
    </v-row>
  </v-container>
</template>
