<script lang="ts" setup>
import { ref, reactive, computed } from "vue";

const img = ref("angry");
const isRed = ref(true);
function toggleRed() {
  isRed.value = !isRed.value;
}
const color = ref("green");
function toggleGreen() {
  color.value = color.value == "green" ? "blue" : "green";
}
</script>
<template>
  <div>
    <v-container>
      <v-row>
        <v-col>
          <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ img.toUpperCase() }}</h1>
          <br />
          <v-img
            v-if="img === 'angry'"
            src="feeling_imgs/angry.png"
            width="200"
          ></v-img>
          <v-img
            v-if="img === 'cute'"
            src="feeling_imgs/cute.png"
            width="200"
          ></v-img>
          <v-img
            v-if="img === 'excited'"
            src="feeling_imgs/excited.png"
            width="200"
          ></v-img>
          <v-img
            v-if="img === 'shocked'"
            src="feeling_imgs/shocked.png"
            width="200"
          ></v-img>
          <v-img
            v-if="img === 'smile'"
            src="feeling_imgs/smile.png"
            width="200"
          ></v-img>
        </v-col>
        <v-col>
          <v-btn
            :class="[{ selected: img === 'angry' }, { btn: img != 'angry' }]"
            @click="img = 'angry'"
          >
            Angry</v-btn
          >

          <v-btn
            :class="[{ selected: img === 'cute' }, { btn: img != 'cute' }]"
            @click="img = 'cute'"
          >
            Cute</v-btn
          >
          <v-btn
            :class="[
              { selected: img === 'excited' },
              { btn: img != 'excited' },
            ]"
            @click="img = 'excited'"
          >
            Excited</v-btn
          >
          <v-btn
            :class="[
              { selected: img === 'shocked' },
              { btn: img != 'shocked' },
            ]"
            @click="img = 'shocked'"
          >
            Shocked</v-btn
          >
          <v-btn
            :class="[{ selected: img === 'smile' }, { btn: img != 'smile' }]"
            @click="
              img = 'smile';
              toggleRed();
            "
          >
            Smile</v-btn
          >
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<style scoped>
.btn {
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  height: 50px;
  width: 500px;
  font-size: 20px;
}
.selected {
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #f0ff20;
  height: 50px;
  width: 500px;
  font-size: 20px;
}
</style>
